.buttontheme {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .light {
    background-color: white;
    color: black;
  }
  
  .dark {
    background-color: black;
    color: white;
  }